es5.dtd

<!--Definire i seguenti elementi:
elemento root: TEI
elementi figli:
header (obbligatorio una occorrenza)
facsimile (opzionale una occorrenza)
text (obbligatorio almeno una occorrenza)
Gli elementi header, facsimile e text hanno tutti un content
model testuale -->

<!ELEMENT TEI (header, facsimile?, text+)>
<!ELEMENT HEADER (#PCDATA)>
<!ELEMENT FACSIMILE (#PCDATA)>
<!ELEMENT TEXT (#PCDATA)>
